[package]
name = "krakenrs"
version = "4.0.0"
authors = ["Chris Beck <beck.ct@gmail.com>"]
edition = "2018"
readme = "README.md"
description = "Rust bindings to the Kraken REST API and websockets API for spot trading"
license = "WTFPL"
keywords = ["kraken", "trading", "exchange"]
categories = ["web-programming::http-client", "web-programming::websocket"]
repository = "https://github.com/garbageslam/krakenrs"

[lib]
name = "krakenrs"
path = "src/lib.rs"

[[bin]]
name = "krak"
path = "src/bin/krak.rs"

[[bin]]
name = "krak-feed"
path = "src/bin/krak-feed.rs"

[dependencies]
base64 = "0.13"
crc32fast = "1.3"
ctrlc = { version = "3.2.1", optional = true, features = ["termination"] }
displaydoc = "0.1"
hmac = "0.10"
reqwest = { version = "0.11", features = ["blocking"] }
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
serde_qs = "0.8"
serde_with = "1.6"
sha2 = "0.9.2"
rust_decimal = "1.17"
structopt = "0.3"
tungstenite = { version = "0.16", optional = true, features = ["native-tls"] }
url = "2.2"

[features]
default = ["ws"]
ws = ["ctrlc", "tungstenite"]
